<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.bijoysingh.quicknote">

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

  <application
    android:allowBackup="true"
    android:hardwareAccelerated="true"
    android:icon="@mipmap/ic_launcher"
    android:name=".MaterialNotes"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <provider
      android:name=".utils.GenericFileProvider"
      android:authorities="com.bijoysingh.quicknote.utils.GenericFileProvider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths"/>
    </provider>

    <activity android:name=".activities.MainActivity"
      android:windowSoftInputMode="stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activities.CreateSimpleNoteActivity"
      android:theme="@style/NoteTheme"
      android:windowSoftInputMode="stateVisible" />

    <service android:name=".FloatingNoteService" />

    <activity
      android:name=".activities.ViewAdvancedNoteActivity"
      android:theme="@style/NoteTheme"
      android:windowSoftInputMode="stateAlwaysHidden" />
    <activity
      android:name=".activities.CreateOrEditAdvancedNoteActivity"
      android:theme="@style/NoteTheme"
      android:windowSoftInputMode="stateVisible" />
    <activity
      android:name=".activities.CreateAdvancedListActivity"
      android:theme="@style/NoteTheme"
      android:windowSoftInputMode="stateHidden" />
    <activity android:name=".activities.external.ImportNoteFromFileActivity"></activity>
  </application>

</manifest>